[Unit]
Description=Privileged Hermes effect broker socket for profile %i

[Socket]
ListenStream=/run/hermes-effect/%i.sock
SocketMode=0600
DirectoryMode=0755
SocketUser=hermes-frontdoor-%i
SocketGroup=hermes-frontdoor-%i
Accept=no

[Install]
WantedBy=sockets.target
